order deny,allow
allow from all

<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
  AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
  AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
  AddOutputFilterByType DEFLATE font/truetype font/opentype
</ifModule>

# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch ".(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch ".(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch ".(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch ".(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>

# END Cache-Control Headers
# BEGIN Turn ETags Off
FileETag None
# END Turn ETags Off

# Turn Rewrite Engine On
RewriteEngine On

# This file contains default page routing for typical applications
# Modify this script as needed

# /assets/*/
RewriteRule ^(assets|css|img|js|)($|/) - [L]

# REST Web service routing

# /rest/u/{user}/t/{token}/{collection}/
RewriteRule ^(json|xml|rest)/u/(.+?)/t/(.+?)/(.+)/$ index.php?path=rest/$4&format=$1&uid=$2&token=$3 [L,QSA]
# /rest/u/{user}/t/{token}/{collection}/{identifier}
RewriteRule ^(json|xml|rest)/u/(.+?)/t/(.+?)/(.+)/(.+)$ index.php?path=rest/$4&format=$1&uid=$2&token=$3&id=$5 [L,QSA]
# /rest/{collection}/
RewriteRule ^(json|xml|rest)/(.+)/$ index.php?path=rest/$2&format=$1&path=rest/$2 [L,QSA]

# Page routing with language

# /{lang}/{page}/
RewriteRule ^([a-z][a-z])/(.*)?/$ index.php?lang=$1&path=$2 [L,QSA]
# /{lang}/{page}/{identifier}
RewriteRule ^([a-z][a-z])/(.*)?/(.*)?$ index.php?lang=$1&path=$2&id=$3 [L,QSA]

# Page routing

# /{page}/
RewriteRule ^(.*)?/$ index.php?path=$1 [L,QSA]
# /{page}/{identifier}
RewriteRule ^(.*)?/(.*)?$ index.php?path=$1&id=$2 [L,QSA]
