<!--/*--><![CDATA[/*><!--*/

ul.treeview, .treeview ul {
  margin: 0px;
  padding: 0px;
  /* offset
  padding-left: 10px;
  */
}

.treeview li {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px; /* must be 19px */
  padding-right: 0px;
  list-style-type: none;
}

.treeview li span img {
  margin-right: 6px;
  border: none;
}

.treeview li.expandable {
  background-image: url(vertical.gif);
  background-position: 19px;
  background-repeat: repeat-y;
}

.treeview a.expanded {
  font-size: 18px;
  padding-right: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(collapse.gif);
  background-position: top left;
  cursor: pointer;
}

.treeview a.collapsed {
  font-size: 18px; /* must be 18px */
  padding-left: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(expand.gif);
  background-position: top left;
  cursor: pointer;
}

.treeview a.node {
  font-size: 18px;
  padding-left: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(node.gif);
  background-position: top left;
}

.treeview a.fexpanded {
  font-size: 18px;
  padding-left: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(fcollapse.gif);
  background-position: top left;
  cursor: pointer;
}

.treeview a.fcollapsed {
  font-size: 18px;
  padding-left: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(fexpand.gif);
  background-position: top left;
  cursor: pointer;
}

.treeview a.fnode {
  font-size: 18px;
  padding-left: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-image: url(fnode.gif);
  background-position: top left;
}

.treeview .folder_expanded {
  background-image: url(folder_opened.gif);
  width: 16px;
  height: 15px;
}

.treeview .folder_collapsed {
  background-image: url(folder_closed.gif);
  width: 16px;
  height: 15px;
}

/*]]>*/-->